snippet frame "frame environment" !b
\begin{frame}{${0:frametitle}}
  ${VISUAL}
\end{frame}
endsnippet

snippet fframe "frame environment" !b
\begin{frame}[fragile]{${0:frametitle}}
  ${VISUAL}
\end{frame}
endsnippet
