[Unit]
Description=gpg-agent daemon

[Service]
ExecStart=/usr/bin/gpg-agent --enable-ssh-support --use-standard-socket --write-env-file %t/gpg-agent.info --daemon
ExecStartPost=/bin/sh -c "xargs systemctl --user set-environment < %t/gpg-agent.info"
Restart=on-abort

[Install]
WantedBy=common.target
