[Unit]
Description=Improved tiling WM
# Requires=xorg.target
# After=xorg.target

[Service]
ExecStart=/usr/bin/i3
Restart=on-abort

[Install]
WantedBy=wm.target
