[Unit]
Description=NetworkManager applet
# Requires=NetworkManager.service
After=NetworkManager.service
# Requires=xorg.target
# After=xorg.target

[Service]
BusName=org.gnome.network_manager_applet
ExecStart=/usr/bin/nm-applet
Restart=always

[Install]
WantedBy=wm.target
