[Unit]
Description=Start offlineimap as a daemon
Requires=network.target
After=network.target
# Only start this automatically if not on battery
ConditionACPower=true

[Service]
Type=simple
ExecStart=/usr/bin/offlineimap -c ${XDG_CONFIG_HOME}/offlineimap/offlineimap.conf -u basic
Restart=on-abort

[Install]
WantedBy=common.target
