[Unit]
Description=Compositing Manager
# Requires=xorg.target
# After=xorg.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xrdb -merge %h/.Xresources

[Install]
WantedBy=wm.target
